.navbar-nav {
	padding: 0 20px 0 0;
}

.site-inner {
	margin: 20px auto;
}

/* .webtoon-list-title-bar {
	display: flex;
	justify-content: space-between;
} */

.add-webtoon {
	font-weight: 700;
}

.search {
	display: flex;
	justify-content: space-between;
	width: 25%
}

.search-box {
	width: 60%;
	height: 46px;
	font-size: 16px;
}

.button {
 background-color: rgb(76, 175, 137);
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 font-size: 16px;
 cursor: pointer;
}

.image-container {
	max-width: fit-content;
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container img {
	max-height: 30vh;
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
