// Loader Icon
.loader {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

// Text highlight
.highlight {
  display: inline;
  background: #333;
  color: aliceblue;
  padding: 2px 6px;
}

// Cards
.card {
  border: 0;
}

.login-card {
  .nav-wrap,
  .top-nav,
  .nav-item {
    background: white;

    a {
      color: #0a58ca;
    }
  }
}
